body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f0f0;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.app-container {
  background-color: #ffffff;
}

.scheme-colors-panel {
  
}
.scheme-colors-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;


}

.color-item {
  cursor: pointer;
  width: 100px;;
} 

.color-code {
    display:grid;
    place-items: center;
}
.color-bar {
  height: 300px;
}

/*copy toast */
/* Color ${color} copied to clipboard! */
.toast {
  display : none;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 999;
  left: 50%;
  bottom: 50%;
  font-size: 17px;
}
.toast.show {
  display: block;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
